.btn-play {
  cursor: pointer;
  border: 2px solid #d4b37f;
  background-color: #070707;
  color: #d4b37f;
  border-radius: 30px;
  padding: 15px 30px;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;

  &:disabled {
    opacity: 0.5;
  }
}